<!DOCTYPE html>
<html>
  <head>
    <title><%= @game.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'game_editor' %>
  </head>
  <body>
    <div id="editor"
         data-elements="<%= @game.elements.to_json %>"
         data-beginning-id="<%= @game.beginning_id %>"
         data-cy-options="<%= @game.cy_options.to_json %>"
         data-touched=<%= @game.touched? %>
         data-max-element-counter="<%= @game.max_element_counter %>"
         >
    </div>
  </body>
</html>
