<h1>Games</h1>

<div class="content">
<% @games.each do |game| %>
  <div>
    <%= link_to game.name, game_path(game) %>
    <% if game.editable?(current_user) %>
      | <%= link_to 'Edit', edit_game_path(game) %>
      | <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
</div>

<p class="choice"><%= link_to 'Create', new_game_path %></p>
<p class="choice"><%= link_to "Go home", root_path %></p>
